<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
	  <MDCKey>debug</MDCKey>
	  <Value>true</Value>
	  <OnMatch>ACCEPT</OnMatch>
	</turboFilter>

    <property name="LOG_PATH" value="./var/log/cutico/cutico-orders"/>
    <property name="LOG_FILE" value="cutico-orders"/>
    <property name="MAX_SIZE" value="512MB"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- rollover daily and when the file reaches 512 MegaBytes -->
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{shardId} %X{sequenceNum} %-5level %logger{50} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_SIZE}</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

    </appender>

    <appender name="AsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FileAppender"/>
    </appender>

    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="ERROR">
        <appender-ref ref="AsyncAppender"/>
        <appender-ref ref="ASYNC-CONSOLE"/>
    </root>

</configuration>